* {
	font-family: sans-serif;
}
#contenedor {
	width: 800px;
	margin: auto;
}

#cabecera {
	font-size: 3em;
	text-align: center;
	font-weight: bolder;
	text-transform: uppercase;
}

#contenido {
	margin-top: 20px;
}
table {
	width: 80%;
	margin: auto;
}
table, td, th {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}


th {
	background-color: navy;
	color: white;
	font-weight: bolder;
}

#contenido label {
	width: 140px;
	float: left;
}
