/* CSS Document */
html, body {
        height: 100%;
        width: 100%;
        padding: 0px;
        margin: 0px;}
*{
	font-family: sans-serif;
	text-align: center;}
header,h1 {
  	width: auto;
  	height: auto;
    padding: 0px;
    margin: 5px;}

#contenedor {
	width: 400px;
	height: 510px;
	margin: auto;}

#zona1a,#zona1b,#zona2a,#zona2b {
	width: 200px;
	height: auto;
	float: left;
	margin: auto;}

div img {
	width: 100px;
	height: 160px;}

#home {
	width: auto;
	height: auto ;
	margin: auto;}

#home a img {
	width: 50px;
	height: 50px;
}

#estado {
  	width: 150px;
  	height: auto ;
  	margin: auto;}

#estado img {
  	width: 150px;
  	height: 60px;}

h4 {
  padding: 10px;
  margin: 5px;}
