/* CSS Document */
html, body {
        height: 100%;
        width: 100%;}

*{
	font-family: sans-serif;
	text-align: center;}

#contenedor {
  width: 450px;
	height: auto;
	margin: auto;}

header,h1 {
	width: auto;
	height: auto;
  padding: 0px;
  margin: 5px;}

#iconos {
	width: 400px;
	height: auto;
  padding: 0px;
	margin: auto;;}

#luces,#usuario,#puerta,#proyector,#persianas,#fondo {
	width: 200px;
	height: 160px;
	float: left;
	margin: auto;}

a img {
	width: 100px;
	height: 100px;}

#modo {
	width: 200px;
	height: auto;
	margin: auto;
}

#modo a img {
	width: 100px;
	height: 40px;}

h5 {
    padding: 5px;
    margin: 10px;}

h4 {
      padding: 5px;
      margin: 10px;}
